<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>A Tech's Side of Things</h1>
                <h2>Are You Managing JS Dependencies like an Old Man?</h2>
            </hgroup>
            <p>
                by Sean Gilbert with technical contributions from Ben Elder and Orn Kristjansson
            </p>
        </div>
    </section>

<p>
    Over the past decade JavaScript standards and best practices have improved but dealing with dependencies and modularity is difficult. Frameworks like RequireJS (and others) remedy these issues and more. Don’t be mistaken, there are teeth and merit to this new shiny toy. Sit down, buckle up, and keep all hands and arms inside as we teleport through the JavaScript time machine!
</p>
<p>
Travel back to year 2000. JavaScript’s main existence was validation. There was no notion of namespaces and all code lived in global space. After the dark ages, during the year "Revenge of the Sith" was the #1 movie and Single Page Application (SPA) was coined by Steve Yen, libraries like jQuery, Mootools and Prototype.js gained traction. Other best practices took root around closures, Immediately-Invoked Function Express (IIFE 1, 2), and namespaces. Presently, almost everyone knows best practice (learn & Pluralsight ):
</p>
</section>